*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
  color: blue;
}

h1{
  font-size: 30px;
  margin-bottom: 20px;
}

h2{
  font-size: 20px;
  margin-bottom: 10px;
}

.main-text{
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

.author-text{
  font-size: 22px;
}

.container{
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post{
  background-color:#e0f5ff;
  width: 75%;
  position: relative;
  float: left;
}

.other-post{
  background-color: #d9ffe2;
  width: 25%;
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.author-box{
background-color: #fdffd6;
}

.date{
  position: absolute;
  top:10px;
  right: 30px;
}