body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rates{
  width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
  padding-top: 150px;
}

.curent {
  background-color: rgb(255, 106, 0);
  height: 100vh;
}

.about{
  border: 3px solid black;
  box-shadow: 2px 5px 5px 2px black;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;

}
